{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/plugin/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/plugin/font-awesome/css/font-awesome.min.css' %}">

    {% block css %}{% endblock %}
</head>
<body>
    <h1>头部菜单</h1>
    {% block content %}{% endblock %}

    <script src="{% static 'web/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'web/plugin/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>